.container{
    
    margin-left: 60rem;
    border:1px solid grey;
    width:50%;
    border-radius: 14px;
    margin-bottom: 3rem;
    padding:5px;
    border-color:black;
    
    
}
.search{
    padding-left: 3rem;
    line-height: 10px;
    width:100%;
    outline: none;
    height:25px;
    border:none;
    font-size: 20px;
   
    
    
    
    
}
.Icon{
    
    top:1vh;
    
}

